// ---------------------
//     COLORS
// ---------------------

    // *--------- GENERAL ---------*
    $whiteColor: #fff;
    $blackColor: #000;
    $menuLink: #686666;
   	$greenColor: #50b981;
   	$paragrapHeaderColor: #CBC6C6;
   	$paragraphColor: #8E8989;
   	$borderColor: #DBDBDB;
   	$grayColorSection: #f6f6f6;